

@font-face {
    font-family: "Dot";
    src: url(enhanced_dot_digital-7.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    background-color: blue;
    color: white;
    font-family: "Dot";
}

#wrapper{
    margin: 0;
    padding: 0;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 100vh;
    width: 100vw;
}

.counter{
    text-align: center;
    margin-bottom: 50px;
}

.counter .counterTitle{
    font-family: Klima;
}

.counter .counterValue{
    font-weight: bold;
    font-size: 3em;
}

.counter-slide .counterValue{
    font-size: 5em;
}

.counter-slide .counterTitle{
    font-size: 1.2em;
    padding-bottom: 20px;
}

.slide.hidden{
    display: none;
}

.sentence{
    font-size: 3em;
    width: 60%;
    margin: auto;
    font-weight: 900;
}