@font-face {
  font-family: 'Source Code Pro Black';
  src: url(../fonts/SourceCodePro-Black.ttf); 
}
@font-face {
  font-family: 'Source Code Pro Bold';
  src: url(../fonts/SourceCodePro-Bold.ttf); 
}
@font-face {
  font-family: 'Source Code Pro Regular';
  src: url(../fonts/SourceCodePro-Regular.ttf); 
}
@font-face {
  font-family: 'Source Code Pro Light';
  src: url(../fonts/SourceCodePro-Light.ttf); 
}
@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url(../fonts/SourceSansPro-BlackItalic.ttf); 
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url(../fonts/SourceSansPro-Semibold.ttf); 
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url(../fonts/SourceSansPro-Regular.ttf); 
}

@keyframes loading {
  from {
    background-position: -13px 0; 
  }
  to {
    background-position: 0 0; 
    } }


* {
  margin: 0;
  padding: 0; 
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  display: none; 
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

canvas {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  left: 0;
  top: 0; 
}

.rows {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}

.row {
  position: relative;
  width: 100%;
  height: 20%;
  float: left;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  -webkit-filter: blur(0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.row:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.wrapper {
  position: absolute;
  display: block;
  width: auto;
  margin: 0 0;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.items {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.item {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  padding: 20px 0 -10px 0;
  text-align: center;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.explanation {
  position: relative;
  width: 100%;
  height: 50%;
  display: block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-weight: light;
  letter-spacing: 1px;
  line-height: 70px;
  padding: 50% 0 -50% 0;
}

.explanation-large {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-weight: light;
  letter-spacing: 1px;
  line-height: 13px;
  margin-top: -13px;
}

.number {
  position: relative;
  display: block;
  float: left; 
  padding: 0;
  width: 100%;
  height: 50%;
  font-family: 'Source Sans Pro Black Italic',  sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 60px;
  line-height: 100%;
}

.number-large {
  font-family: 'Source Sans Pro Black Italic',  sans-serif;
  font-weight: 100;
  position: absolute;
  width: 100%;
  height: 100px;
  font-size: 100px;
}

.date {
  position: relative;
  display: inline-block;  
}

.item-large {
  position: relative;
  display: block;
  height: 100%;
  font-size: 100px;
  color: white;
  width: 100%;
  text-align: center; 
}

.progress-bar {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  clear: both;
  border: 2px solid white; 
}

.progress-total {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  border: 2px solid white;
  background: repeating-linear-gradient(-55deg, #fff, #fff 1px, transparent 2px, transparent 10px, #fff 11px);
  background-size: 110%;
  animation: loading 1s infinite linear; 
}

.progress-bar-large {
  position: relative;
  float: left;
  display: block;
  min-width: 100px;
  width: 100%;
  padding: 0;
  border: 2px solid white; 
}

.progress-total-large {
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  border: 2px solid white;
  background: repeating-linear-gradient(-55deg, #fff, #fff 1px, transparent 2px, transparent 10px, #fff 11px);
  background-size: 110%;
  animation: loading 1s infinite linear; 
}


.title {
  position: relative;
  display: block;
  height: 20%;
  padding: 0;
  width: auto;
  line-height: auto;
  text-align: center;
  font-family: 'Source Sans Pro Regular', sans-serif;
  color: white; 
}

.decimals {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: auto;
  text-align: center;
  height: 100%; 
}

.times {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  float: left;
  width: 100%;
  height: 100%; 
}

.number-float {
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0px auto;
  width: 100%; 
}

mes{
  font-size: 26px;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro Regular', sans-serif; 
  text-transform: uppercase;
}

span {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro Regular', sans-serif;
  text-transform: uppercase; 
}

.material {
  position: absolute;
  background: #0D19A3;
  /*background: -moz-linear-gradient(left, #0D19A3 0%, #242fa0 48%, #0D19A3 100%);*/
  /*background: -webkit-linear-gradient(left, #0D19A3 0%, #242fa0 48%, #0D19A3 100%);*/
  /*background: linear-gradient(to right, #0D19A3 0%, #242fa0 48%, #0D19A3 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-main', endColorstr='#0d19a3',GradientType=1 );*/
}

.resize-message {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  display: block; 
}

.content {
  background-color: rgba(100, 100, 100, 0.5);
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px; 
}

.text {
  position: relative;
  color: white;
  font-family: 'Source Sans Pro Black Italic', sans-serif;
  width: auto;
  margin: 0 auto; 
  padding: 0;
}

.sentence {
  width: 100%;
  margin: 0 auto; 
}
