* {cursor: none !important;}

.rows {
    position: absolute;
    left: 0;
    width: 100%;
    top: 10%;
    height: 80%;
}

.wrapper{
	top: 10%;
    height: 80%;
}

.items.sentence, .item-large{
    height: 80%;        
    padding-top: 0px;
}


.item{
	width: 100%;
}

.progress-bar{
	width: 50%;
	height: 3.2%;
}

.progress-total{
    width: 40%;
    height: 40%;
    left: 25%;
}

.progress-bar-large{
    position: absolute;
    width: 80%;
    height: 16%;
    top: 9.6%
}

.progress-total-large{
    width: 80%;
    padding: 0;
    height: 16%;
    float: left;
    top: 9.6%;
}


.text{
    height: auto;
    width: 75%;
    text-wrap: break-word;
    line-height: 100%;
    padding-top: 1.92%;
}


.number-large{
    top: 32%;
}

.explanation-large{
    top: 16%;
}

.gallerySlideWrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;

    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);

}


.gallerySlideWrapper.left{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);

}

.gallerySlideWrapper.center{
    -webkit-transform: translateX(0px)!important;
    -moz-transform: translateX(0px)!important;
}

.gallerySlideWrapper.right{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
}


.gallerySlideWrapper.center, .gallerySlideWrapper.left{
    -webkit-transition: 1s;
    -moz-transition: 1s;
}


div#fullscreen{
    z-index: 99999;
    position: fixed;
    color: white;
}

.progress-total.percentage-carbon.large, .decimals.progress-bar.large {
    position: absolute;
    top: 50%;
    height: 24% !important;
}

.pro .explanation {top: 16%;}