

.items.sentence .text{
/*    font-size: 0.9em;
    line-height: 1em;
    width: 80%;
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: left;
    font-weight: 500;*/
}

.number-float{
    display: flex;
}

#carbon-used .number-float{
    display: block;
}